.game {
  &Image {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &Card {
    &Title {
      font-size: 18px;
      font-weight: bold;
      margin: 20px 0 10px;
      text-align: center;
    }

    &Outer {
      display: flex;
      width: calc((100%/12)*2);
      padding: 0 20px;
      @media screen and (max-width: 1024px) {
        width: calc((100%/12)*4);
      }
      @media screen and (max-width: 768px) {
        width: calc((100%/12)*6);
      }
    }

    &Inner {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      flex: 1;
    }
  }
}